.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensures consistent column widths */
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* Center-align text in both header and data cells */
  vertical-align: middle; /* Align content vertically in the middle */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orders-table tbody {
  display: block;
  max-height: 400px; /* Adjust to your preferred height */
  overflow-y: auto;

}

.orders-table th {
  background-color: #A17977;
  font-weight: bold;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.orders-table tbody tr:hover {
  background-color: #f1f1f1;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.orders-table td {
  font-size: 14px;
  color: #333;
}

.orders-table th {
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap; /* Ensures the header text stays on one line */
}

.orders-container {
  padding: 20px;
}

.orders-table th,
.orders-table td {
  word-wrap: break-word; /* Allows text to wrap inside cells for long content */
}
.orders-table thead{
  width: 100%;
}
.orders-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}