/* Product.css */

/* Container */
.product-container {
  padding: 20px;
}

/* Add a wrapper around the table to enable scrolling */
.product-table-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensures header columns align with body */
}

.table-body-scroll {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
}

.table-body-scroll table {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensures body columns align with header */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

thead tr {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Add Product Button */
.add-button {
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: #A17977;
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  position: relative; /* Ensure it's properly positioned */
  float: right; /* Align to the right */
  z-index: 10; /* Bring it above other elements */
}

.add-button:hover {
  background-color: #6497b1; /* Change background color on hover */
}

/* Back Button */
.back-button {
  padding: 6px; /* Reduced padding */
  margin-top: 10px; /* Corrected spacing for margin */
  margin-bottom: 30px;
  background-color: #A17977;
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 80px;
}

.back-button:hover {
  background-color: #6497b1; /* Change background color on hover */
}

/* Edit Button */
.edit-button {
  background-color: rgb(255, 255, 255); /* White background */
  color: #A17977; /* Blue text color */
  padding: 6px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-button:hover {
  background-color: rgb(220, 240, 255); /* Light blue hover effect */
}

/* Delete Button */
.delete-button {
  background-color: #03396c; /* Blue button background */
  color: white; /* Gray text color */
  border: none; /* No border */
  padding: 6px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #6497b1; /* Lighter blue hover effect */
  color: white; /* White text on hover */
}
